<!-- START: Page Background -->

<img class="nk-page-background-top" src="/assets/images/bg-top-4.png" alt="">
<img class="nk-page-background-bottom" src="/assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->


    <!-- START: Search Modal -->
<div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ion-android-close"></span>
            </button>

            <h4 class="mb-0">Search</h4>

            <div class="nk-gap-1"></div>
            <form action="#" class="nk-form nk-form-style-1">
                <input type="text" value="" name="search" class="form-control" placeholder="Type something and press Enter" autofocus>
            </form>
        </div>
    </div>
</div>
</div>
<!-- END: Search Modal -->



    <!-- START: Login Modal -->
<!-- <div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ion-android-close"></span>
            </button>

            <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

            <div class="nk-gap-1"></div>
            <form action="/login" method="post" class="nk-form text-white">
                <div class="row vertical-gap">
                    <div class="col-md-12">
                        Use email and password:

                        <div class="nk-gap"></div>
                        <input type="email" value="" name="email" class=" form-control" placeholder="Email" required>

                        <div class="nk-gap"></div>
                        <input type="password" value="" name="password" class="required form-control" placeholder="Password" required>
                    </div> -->
                    <!-- <div class="col-md-6">
                        Or social account:

                        <div class="nk-gap"></div>

                        <ul class="nk-social-links-2">
                            <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                            <li><a class="nk-social-twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                        </ul>
                    </div> -->
                <!-- </div>

                <div class="nk-gap-1"></div>
                <div class="row vertical-gap">
                    <div class="col-md-6">
                        <a href="#" type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</a>
                    </div>
                    <div class="col-md-6"> -->
                        <!-- <div class="mnt-5">
                            <small><a href="#">Forgot your password?</a></small>
                        </div> -->
                        <!-- <div class="mnt-5">
                            <small><a href="/register">Not a member? Sign up</a></small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div> -->
<!-- END: Login Modal -->




<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="/assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- GSAP -->
<script src="/assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Popper -->
<script src="/assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- imagesLoaded -->
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Flickity -->
<script src="/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- Jquery Validation -->
<script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Jquery Countdown + Moment -->
<script src="/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/assets/vendor/moment/min/moment.min.js"></script>
<script src="/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Hammer.js -->
<script src="/assets/vendor/hammerjs/hammer.min.js"></script>

<!-- NanoSroller -->
<script src="/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

<!-- SoundManager2 -->
<script src="/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

<!-- Seiyria Bootstrap Slider -->
<script src="/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

<!-- Summernote -->
<script src="/assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

<!-- nK Share -->
<script src="/assets/plugins/nk-share/nk-share.js"></script>

<!-- GoodGames -->
<script src="/assets/js/goodgames.min.js"></script>
<script src="/assets/js/goodgames-init.js"></script>
<!-- END: Scripts -->



</body>
</html>

