<!-- <!DOCTYPE html>

    
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | 404</title> -->

    <!-- <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium"> -->
    <!-- <meta name="author" content="_nK"> -->

    <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png"> -->

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css"> -->

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css"> -->

    <!-- FontAwesome -->
    <!-- <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script> -->

    <!-- IonIcons -->
    <!-- <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css"> -->

    <!-- Flickity -->
    <!-- <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css"> -->

    <!-- Photoswipe -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css"> -->

    <!-- Seiyria Bootstrap Slider -->
    <!-- <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css"> -->

    <!-- Summernote -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css"> -->

    <!-- GoodGames -->
    <!-- <link rel="stylesheet" href="assets/css/goodgames.css"> -->

    <!-- Custom Styles -->
    <!-- <link rel="stylesheet" href="assets/css/custom.css"> -->
    
    <!-- END: Styles -->

    <!-- jQuery -->
    <!-- <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    
     -->
<!-- </head> -->

<%- include('../partials/userHead') %>
<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    
    

    <div class="nk-main">
        

        
<div class="nk-fullscreen-block">
    <div class="nk-fullscreen-block-top">
        <div class="text-center">
            <div class="nk-gap-4"></div>
            <a href="/"><img src="assets/images/Beboman_elitewaves_logo.png" height="100vh" alt="GoodGames"></a>
            <div class="nk-gap-2"></div>
        </div>
    </div>
    <div class="nk-fullscreen-block-middle">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <h1 class="text-main-1" style="font-size: 80px;">Success</h1>

                    <div class="nk-gap"></div>
                    <h2 class="h4">Click Below to continue Shopping</h2>

                    <div> <br> </div>
                    <div class="nk-gap-3"></div>

                    <a href="/" class="nk-btn nk-btn-rounded nk-btn-color-white">Return to Homepage</a>
                </div>
            </div>
            <div class="nk-gap-3"></div>
        </div>
    </div>
    <div class="nk-fullscreen-block-bottom">
        <div class="nk-gap-2"></div>
        <ul class="nk-social-links-2 nk-social-links-center">
            <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
            <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
            <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
            <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
            <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
            <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
            <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>

            <!-- Additional Social Buttons
                <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
            -->
        </ul>
        <div class="nk-gap-2"></div>
    </div>
</div>


        
    </div>

    
    <%- include('../partials/userFooter') %>